@model AnimalsCategoriesVM

@{
    ViewData["Title"] = "Animals";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mb-4">Animals</h2>
            <div class="form-group text-center">
                <label for="categoryDropdown">Select Category:</label>
                <select id="categoryDropdown" class="form-control text-center">
                    <option value="">-- Select Category --</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div id="animalsContainer" class="row mt-5 d-none">
        <div class="col-md-12 ">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Animals in selected category</h4>
                </div>
                <div class="card-body">
                    <div id="animalList" class="card border-0 p-3 row row-cols-1 row-cols-sm-2 flex-row g-3 shadow border-top border-5 rounded">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#categoryDropdown').on('change', function () {
                var categoryId = $(this).val();
                var selectedAnimals;
                if (categoryId !== '') {
                    $('#animalsContainer').removeClass('d-none');
                    var animals = @Html.Raw(Json.Serialize(Model.Animals));
                    selectedAnimals = animals.filter(function (animal) {
                        return animal.categoryId == categoryId;
                    });

                    var animalList = $('#animalList');
                    animalList.empty();

                    if (selectedAnimals.length > 0) {
                        selectedAnimals.forEach(function (animal) {
                            var listItem = `<div class="mb-4 shadow col border-top pb-4">
                                    <img src="${animal.imageUrl}" class="card-img-top rounded" />
                                    <div class="card-body pb-0">
                                        <div class="pl-1">
                                            <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">${animal.name}</p>
                                            <p class="card-title text-warning text-center"><b>${animal.description}</b></p>
                                        </div>
                                        <div>
                                            <a href="Home/Details/${animal.id}" class="btn btn-primary bg-gradient border-0 form-control">Details</a>
                                        </div>
                                    </div>
                                </div>`;
                            animalList.append(listItem);
                        });
                    } else {
                        var noAnimalsMessage = $('<li>').addClass('list-group-item').text('No animals found in this category.');
                        animalList.append(noAnimalsMessage);
                    }
                } else {
                    $('#animalsContainer').addClass('d-none');
                }
            });
        });
    </script>
        }
